hbt_device_api_password:
hbt_device_ota_password:
hbt_device_fallback_ap_password:

eink_device_api_password:
eink_device_ota_password:
eink_device_fallback_ap_password:


hsp_device_api_password:
hsp_device_ota_password:
hsp_device_fallback_ap_password:

home_wifi_ssid:
home_wifi_password:
